<a href="https://colab.research.google.com/github/JoeySode/BounceGame/blob/master/resub/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#TIY 1
pizzas = ["pepperoni", "margherita", "white"]

for pizza in pizzas:
  print(f"I like {pizza} pizza")

print("I love pizza")

In [ ]:
#TIY 2
animals = ["dog", "cat", "rabbit"]

for animal in animals:
  print(f"A {animal} is a good pet")

print("Any of these animals are common pets")

In [ ]:
#TIY 3
for number in range(1, 21):
  print(number)

In [ ]:
#TIY 4
numbers = list(range(1, 1000001))

for number in numbers:
  print(number)

In [ ]:
#TIY 5
numbers = list(range(1, 1000001))

print(min(numbers))
print(max(numbers))
print(sum(numbers))

In [ ]:
#TIY 6
odd_numbers = list(range(1, 21, 2))

for number in odd_numbers:
  print(number)

In [ ]:
#TIY 7
threes = list(range(3, 31, 3))

for number in threes:
  print(number)

In [ ]:
#TIY 8
cubes = []

for number in range(1, 11):
  cubes.append(number ** 3)

for cube in cubes:
  print(cube)

In [ ]:
#TIY 9
cubes = [number ** 3 for number in range(1, 11)]

for cube in cubes:
  print(cube)

In [ ]:
#TIY 10
print("The first three items in the list are:")
print(pizzas[:3])
print("Three items from the middle of the list are:")
print(pizzas[1:4])
print("The last three items in the list are:")
print(pizzas[-3:])

In [ ]:
#TIY 11
friend_pizzas = pizzas[:]
pizzas.append("hawaiian")
friend_pizzas.append("veggie")

print("My favorite pizzas are:")

for pizza in pizzas:
  print(pizza)
  print("My friend's favorite pizzas are:")

for pizza in friend_pizzas:
  print(pizza)

In [ ]:
#TIY 12
my_foods = ["pizza", "ice-cream", "cake"]
friend_foods = my_foods[:]
my_foods.append("cookies")
friend_foods.append("ice cream")

print("My favorite foods are:")
for food in my_foods:
  print(food)

print("My friend's favorite foods are:")
for food in friend_foods:
  print(food)

In [ ]:
#TIY 13
foods = ("pasta", "salad", "bread", "soup", "fruit")

for food in foods:
  print(food)

In [4]:
#Part 2
def factorial(n):
  nums = list(range(1, n + 1))

  result = 1

  for num in nums:
    result *= num

  return result

print(factorial(2), factorial(5))

def special_factorial(n):
  nums = list(range(1, n + 1))

  for i, num in enumerate(nums):
    if num == 4 or num == 13 or num == 22:
      nums.pop(i)

  result = 1

  for num in nums:
    result *= num

  return result

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

2 120
30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000